In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re

In [98]:
#initialize a dataframe
cars_1 = pd.DataFrame()

In [101]:
details = []   #Prices for the 1st page
page_link =  'https://autochek.africa/cars-for-sale/mercedes-benz-200-ref-2w8PyIiXb'

page_response = requests.get(page_link)
page_content = BeautifulSoup(page_response.content, "html.parser")

#for image scrape
html = urlopen(page_link)
bs = BeautifulSoup(html, 'html.parser')

In [102]:
for i in range(59,60):
    price = page_content.find_all("div")[i].text   #scrap price here
    details.append(price)
    
for i in range(15,16):
    location = page_content.find_all("span")[i].text   #scrap location here
    details.append(location)
    
for i in range(17,18):
    history = page_content.find_all("span")[i].text   #scrap history here
    details.append(history)
    
for i in range(25,26):
    transmission = page_content.find_all("span")[i].text   #scrap location here
    details.append(transmission)
    
for i in range(31,32):
    color = page_content.find_all("span")[i].text   #scrap colour here
    details.append(color)

for i in range(13,14):
    mileage = page_content.find_all("span")[i].text   #scrap location here
    details.append(mileage)

for i in range(44,45):
    name_make = page_content.find_all("div")[i].text   #scrap name and make here
    make_mix = name_make.split('(')
    more_model = make_mix[0]
    more_details = more_model.split(' ')
    make = more_details[0]
    model = more_details[1]
    year = more_details[2]
    rating = make_mix[1].split(')')[0]
    details.append(make)
    details.append(model)
    details.append(year)
    details.append(rating)
    details.append(more_model)

#Append to the dataframe
cars_1 = cars_1.append(pd.Series(details), ignore_index=True)

#save to disk
cars_1.to_csv('./data/cheki_data.csv')

cars_1.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"3,755,000",Lagos,Foreign Used,automatic,Black,0 km,Toyota,Matrix,2011,5.00,Toyota Matrix 2011
1,"24,765,000",Lagos,Foreign Used,automatic,Pale brown,"45,133 km",Mercedes-Benz,200,2018,5.00,Mercedes-Benz 200 2018