In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re

In [2]:
#initialize a dataframe
cars = pd.DataFrame()

In [5]:
details = []   #Prices for the 1st page
page_link =  'https://buy.cars45.com/cars/toyota-sequoia-2003-automatic-ng-631041?filter=1872%2C1871'

page_response = requests.get(page_link)
page_content = BeautifulSoup(page_response.content, "html.parser")

#for image scrape
html = urlopen(page_link)
bs = BeautifulSoup(html, 'html.parser')

In [6]:
for i in range(0,1):
    price = page_content.find_all("h4")[i].text   #scrap price here
    price = price.split("\n")  #some clean-up
    price = price[0]
    details.append(price)
    
#car-price
for k in range(7,15):
    detail = page_content.find_all("span")[k].text   #scrap other properties here
    detail = detail.split("\n")  #some clean-up
    detail = detail[0]
    details.append(detail)
    
#for car-rating
images = bs.find_all('img', {'src':re.compile('.png')})

for image in images[14:15]: 
    rating = image['src']
    rating = rating.split("/")[2]
    rating = rating.split(".")[0]
    details.append(rating)

#car name
Name = page_content.h1.text
Name = Name.split("\n")  #some clean-up
Name = Name[0]
details.append(Name)

#for j in range(59,82):
    #look = page_content.find_all("li")[j].text
    #details.append(look)

#Append to the dataframe
cars = cars.append(pd.Series(details), ignore_index=True)

#save to disk
cars.to_csv('./data/cars45_data.csv')

cars.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"₦ 8,635,000",Audi,A7,2013,30866,"C45 , Abuja",Automatic,Registered,BLACK,4-stars,2013 Audi A7
1,"₦ 2,270,000",Toyota,Sequoia,2003,119905,"C45 , Lagos",Automatic,Registered,Silver,2-stars,2003 Toyota Sequoia