In [23]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
import csv
import json

In [24]:
page_link_automatic = ('https://autochek.africa/cars-for-sale?page_number=1&page_size=13800&transmission=automatic')
r_auto = requests.get(page_link_automatic)
soup_auto = BeautifulSoup(r_auto.text, 'html.parser')

In [25]:
p_auto = soup_auto.find_all('script',id="__NEXT_DATA__")
paragraphs_auto = []
for x in p_auto:
    paragraphs_auto.append(str(x))

In [26]:
data_auto = json.loads(x.string)
data_auto.keys()

dict_keys(['props', 'page', 'query', 'buildId', 'isFallback', 'gssp', 'appGip', 'locale', 'locales', 'defaultLocale', 'head'])

In [27]:
g_auto= pd.DataFrame(data_auto['props']['pageProps']['cars'])
g_auto

           False        0.0
13796            False        0.0
13797            False        0.0
13798            False        0.0
13799            False        0.0

[13800 rows x 17 columns]

In [28]:
data_auto=g_auto.drop(['id','imageUrl', 'state', 'hasWarranty','marketplaceOldPrice','hasFinancing',"mileageUnit", "installment" ,	"depositReceived" ,	"loanValue"],axis=1)

In [29]:
data_auto

13795           5735000        0
13796           2717500        0
13797           2545000    92000
13798           3120000    73838
13799                 0        0

[13800 rows x 7 columns]

In [30]:
data_auto['Transmission'] ='Automatic'

In [31]:
data_auto

717500        0    Automatic
13797           2545000    92000    Automatic
13798           3120000    73838    Automatic
13799                 0        0    Automatic

[13800 rows x 8 columns]

In [32]:
page_link_manual = ('https://autochek.africa/cars-for-sale?page_number=1&page_size=395&transmission=manual')
r_manual = requests.get(page_link_manual)
soup_manual = BeautifulSoup(r_manual.text, 'html.parser')

In [33]:
p_manual = soup_manual.find_all('script',id="__NEXT_DATA__")
paragraphs_manual = []
for x in p_manual:
    paragraphs_manual.append(str(x))

In [34]:
data_manual = json.loads(x.string)
data_manual.keys()

dict_keys(['props', 'page', 'query', 'buildId', 'isFallback', 'gssp', 'appGip', 'locale', 'locales', 'defaultLocale', 'head'])

In [35]:
g_manual= pd.DataFrame(data_manual['props']['pageProps']['cars'])

In [36]:
g_manual

  0
1            0
2            0
3            0
4            0
..         ...
390          0
391          0
392          0
393          0
394          0

[395 rows x 16 columns]

In [37]:
data_manual=g_manual.drop(['id','imageUrl', 'state', 'hasWarranty', 'marketplaceOldPrice','hasFinancing',"mileageUnit", "installment" ,"depositReceived" ,"loanValue"],axis=1)

In [38]:
data_manual

      ...
390           2890000        0
391                 0   123442
392           2315000        0
393           1970000        0
394           8265000        0

[395 rows x 6 columns]

In [39]:
## the "gradeScore" is set to 0 when we filtered by manual so we have to input here manually 
data_manual['Transmission'] ='Manual'
data_manual["gradeScore"]= 0

In [40]:
data_manual

392           2315000        0       Manual           0
393           1970000        0       Manual           0
394           8265000        0       Manual           0

[395 rows x 8 columns]

In [41]:
full_car=[data_auto,data_manual]

In [42]:
cars=pd.concat(full_car)

In [43]:
cars

           0   123442       Manual
392           2315000        0       Manual
393           1970000        0       Manual
394           8265000        0       Manual

[14195 rows x 8 columns]

In [48]:
cars[['make','model']] = pd.DataFrame(cars.title.str.split(' ',1).tolist(),
                                 columns = ['make','model'])

In [50]:
cars.drop(['title'],axis=1,inplace=True)
cars

391       Manual          Lexus   RX 350
392       Manual        Porsche  Cayenne
393       Manual  Mercedes-Benz    C 180
394       Manual         Toyota    Camry

[14195 rows x 9 columns]

In [51]:
cars.to_csv('./data/full_car.csv',header=True)