In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
import csv
import json

In [2]:
page_link = ('https://autochek.africa/cars-for-sale?page_size=12000')
r = requests.get(page_link)
soup = BeautifulSoup(r.text, 'html.parser')

In [3]:
p = soup.find_all('script',id="__NEXT_DATA__")
paragraphs = []
for x in p:
    paragraphs.append(str(x))

In [4]:
data = json.loads(x.string)
data.keys()

dict_keys(['props', 'page', 'query', 'buildId', 'isFallback', 'gssp', 'appGip', 'locale', 'locales', 'defaultLocale', 'head'])

In [17]:
g= pd.DataFrame(data['props']['pageProps']['cars'])

In [20]:
dataf=g.drop(['id','imageUrl', 'state', 'hasWarranty', 'marketplaceOldPrice','hasFinancing',"mileageUnit", 	"installment" ,	"depositReceived" ,	"loanValue"],axis=1)

In [21]:
dataf

11995           1625000        0
11996           4635000    46833
11997           1797500        0
11998           6720875   120894
11999           6835000        0

[12000 rows x 7 columns]