In [61]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
import csv
import json

In [62]:
page_link_automatic = ('https://autochek.africa/cars-for-sale?page_number=1&page_size=13800&transmission=automatic')
r_auto = requests.get(page_link_automatic)
soup_auto = BeautifulSoup(r_auto.text, 'html.parser')
p_auto = soup_auto.find_all('script',id="__NEXT_DATA__")
paragraphs_auto = []
for x in p_auto:
    paragraphs_auto.append(str(x))

In [33]:
data_auto = json.loads(x.string)
data.keys()

dict_keys(['props', 'page', 'query', 'buildId', 'isFallback', 'gssp', 'appGip', 'locale', 'locales', 'defaultLocale', 'head'])

In [35]:
g_auto= pd.DataFrame(data_auto['props']['pageProps']['cars'])
g_auto

In [42]:
data_auto=g_auto.drop(['id','imageUrl', 'state', 'hasWarranty', 'marketplaceOldPrice','hasFinancing',"mileageUnit", 	"installment" ,	"depositReceived" ,	"loanValue"],axis=1)

In [44]:
data_auto

110388
14           2660000   143175
15           8815000   107757
16           1395000    82998
17          19265000    19444
18            705000   140155
19           1567500   191100

In [45]:
data_auto['Transmission'] ='Automatic'

In [46]:
data_auto

07757    Automatic
16           1395000    82998    Automatic
17          19265000    19444    Automatic
18            705000   140155    Automatic
19           1567500   191100    Automatic

In [47]:
page_link_manual = ('https://autochek.africa/cars-for-sale?page_number=1&page_size=395&transmission=manual')
r_manual = requests.get(page_link_manual)
soup_manual = BeautifulSoup(r_manual.text, 'html.parser')

In [49]:
p_manual = soup_manual.find_all('script',id="__NEXT_DATA__")
paragraphs_manual = []
for x_manual in p_manual:
    paragraphs_manual.append(str(x_manual))

In [50]:
data_manual = json.loads(x.string)
data.keys()

dict_keys(['props', 'page', 'query', 'buildId', 'isFallback', 'gssp', 'appGip', 'locale', 'locales', 'defaultLocale', 'head'])

In [51]:
g_manual= pd.DataFrame(data_manual['props']['pageProps']['cars'])

In [52]:
g_manual

  0
1            0
2            0
3            0
4            0
..         ...
390          0
391          0
392          0
393          0
394          0

[395 rows x 16 columns]

In [53]:
data_manual=g_manual.drop(['id','imageUrl', 'state', 'hasWarranty', 'marketplaceOldPrice','hasFinancing',"mileageUnit", 	"installment" ,	"depositReceived" ,	"loanValue"],axis=1)

In [54]:
data_manual

      ...
390           2890000        0
391                 0   123442
392           2315000        0
393           1970000        0
394           8265000        0

[395 rows x 6 columns]

In [55]:
data_manual['Transmission'] ='Manual'

In [56]:
data_manual

             0   123442       Manaul
392           2315000        0       Manaul
393           1970000        0       Manaul
394           8265000        0       Manaul

[395 rows x 7 columns]

In [59]:
cars=pd.concat([data_manual,data_auto])

In [60]:
cars

         ...         ...
15    Automatic         4.8
16    Automatic         4.2
17    Automatic         5.0
18    Automatic         4.1
19    Automatic         4.9

[415 rows x 8 columns]