In [184]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
import csv
import json
import time

In [185]:
cars_information_auto = []

In [186]:
for x in range(1,32):
    url= ('https://buy.cars45.com/cars?filter=125%2C1020&limit=100&page=')
    r = requests.get(url+str(x))
    soup_auto = BeautifulSoup(r.content, 'html.parser')
    content = soup_auto.find_all('div',class_="product_box")

    for property in content:
        Name = property.find('h4').text.strip()
        History = property.find('p', class_='d-none d-sm-block').text.strip()
        Price = property.find('h5').text.strip()
        Ratings = property.find('a').text.strip()
        Millage = property.find('span', class_='intersemibold').text.strip()
        Year = property.find_all('span', class_='intersemibold')[1].text.strip()

        car_info = {
            'Name': Name,
            'Price':Price,
            'History':History,
            'Millage':Millage,
            'Ratings': Ratings,
            'Year':Year
    }
        cars_information_auto.append(car_info)

In [187]:
car_df_auto=pd.DataFrame(cars_information_auto)

In [188]:
print(len(car_df_auto))

3019

In [189]:
car_df_auto.head()

,Name,Price,History,Millage,Ratings,Year
0,2010 Honda Accord Crosstour\n ...,"₦ 2,382,500",Nigerian Used,"109,898Km",C,2010
1,2007 Toyota Corolla\n ...,"₦ 751,250",Nigerian Used,"222,345Km",D,2007
2,2006 Honda Accord\n ...,"₦ 976,250",Nigerian Used,"132,550Km",D,2006
3,2007 Infiniti Fx\n ...,"₦ 1,145,000",Nigerian Used,"61,114Km",D,2007
4,2002 Toyota Camry\n ...,"₦ 863,750",Nigerian Used,"122,824Km",E,2002

In [190]:
car_df_auto[['Year2','Make','Model']]=pd.DataFrame(car_df_auto.Name.str.split(' ',expand=False,n=2).tolist(),
columns = ['Year2','Make','Model'])
car_df_auto[['Model','Others']]=pd.DataFrame(car_df_auto.Model.str.split('\n',expand=False,n=1).tolist(),columns = ['Model','Others'])

In [191]:
car_df_auto.drop(['Name','Year2','Others'],axis=1,inplace=True)

In [192]:
car_df_auto.head()

,Price,History,Millage,Ratings,Year,Make,Model
0,"₦ 2,382,500",Nigerian Used,"109,898Km",C,2010,Honda,Accord Crosstour
1,"₦ 751,250",Nigerian Used,"222,345Km",D,2007,Toyota,Corolla
2,"₦ 976,250",Nigerian Used,"132,550Km",D,2006,Honda,Accord
3,"₦ 1,145,000",Nigerian Used,"61,114Km",D,2007,Infiniti,Fx
4,"₦ 863,750",Nigerian Used,"122,824Km",E,2002,Toyota,Camry

In [193]:
car_df_auto['Transmission'] ='Automatic'
car_df_auto['Fuel'] ='Petrol'

In [194]:
car_df_auto

,Price,History,Millage,Ratings,Year,Make,Model,Transmission,Fuel
0,"₦ 2,382,500",Nigerian Used,"109,898Km",C,2010,Honda,Accord Crosstour,Automatic,Petrol
1,"₦ 751,250",Nigerian Used,"222,345Km",D,2007,Toyota,Corolla,Automatic,Petrol
2,"₦ 976,250",Nigerian Used,"132,550Km",D,2006,Honda,Accord,Automatic,Petrol
3,"₦ 1,145,000",Nigerian Used,"61,114Km",D,2007,Infiniti,Fx,Automatic,Petrol
4,"₦ 863,750",Nigerian Used,"122,824Km",E,2002,Toyota,Camry,Automatic,Petrol
...,...,...,...,...,...,...,...,...,...
3014,"₦ 9,893,906",Nigerian Used,"28,027Km",D,2016,Mercedes-Benz,C300,Automatic,Petrol
3015,"₦ 2,974,400",,"163,978Km",B,2011,Toyota,Camry,Automatic,Petrol
3016,"₦ 4,202,500",Foreign Used,"103,147Km",C,2009,Toyota,Venza,Automatic,Petrol
3017,"₦ 2,140,000",,"148,118Km",C,2007,Lexus,ES,Automatic,Petrol
3018,"₦ 1,890,000",,"29,654Km",C,2006,Mercedes-Benz,Ml350,Automatic,Petrol

In [195]:
cars_information_manu = []

In [196]:
## scraping Manual cars

for x in range(1,4):
    url= ('https://buy.cars45.com/cars?filter=126%2C1020&limit=100&page=')
    r = requests.get(url+str(x))
    soup_auto = BeautifulSoup(r.content, 'html.parser')
    content = soup_auto.find_all('div',class_="product_box")

    for property in content:
        Name = property.find('h4').text.strip()
        History = property.find('p', class_='d-none d-sm-block').text.strip()
        Price = property.find('h5').text.strip()
        Ratings = property.find('a').text.strip()
        Millage = property.find('span', class_='intersemibold').text.strip()
        Year = property.find_all('span', class_='intersemibold')[1].text.strip()

        car_info = {
            'Name': Name,
            'Price':Price,
            'History':History,
            'Millage':Millage,
            'Ratings': Ratings,
            'Year':Year
    }
        cars_information_manu.append(car_info)

In [197]:
car_df_manu=pd.DataFrame(cars_information_manu)
print(len(car_df_manu))

275

In [198]:
car_df_manu[['Year2','Make','Model']]=pd.DataFrame(car_df_manu.Name.str.split(' ',expand=False,n=2).tolist(),
columns = ['Year2','Make','Model'])
car_df_manu[['Model','Others']]=pd.DataFrame(car_df_manu.Model.str.split('\n',expand=False,n=1).tolist(),columns = ['Model','Others'])

In [199]:
car_df_manu.drop(['Name','Year2','Others'],axis=1,inplace=True)

In [200]:
## Since we go got just Manual cars with petrol engine I will input the values here 
car_df_manu['Transmission'] ='Manual'
car_df_manu['Fuel'] ='Petrol'

In [201]:
## concarting the  two dataframes 
full_car=[car_df_manu,car_df_auto]
data_check24=pd.concat(full_car)

In [202]:
data_check24.to_csv('./data/second_full_car.csv',header=True)

In [204]:
data_check24

,Price,History,Millage,Ratings,Year,Make,Model,Transmission,Fuel
0,"₦ 1,482,500",Foreign Used,"224,740Km",D,2003,Toyota,Matrix,Manual,Petrol
1,"₦ 582,500",Nigerian Used,"188,400Km",D,2011,Hyundai,I10,Manual,Petrol
2,"₦ 222,500",Nigerian Used,1Km,D,2004,Kia,Rio,Manual,Petrol
3,"₦ 582,500",Nigerian Used,"175,218Km",D,2009,Kia,Optima,Manual,Petrol
4,"₦ 402,500",Nigerian Used,"240,417Km",D,1998,Peugeot,406,Manual,Petrol
...,...,...,...,...,...,...,...,...,...
3014,"₦ 9,893,906",Nigerian Used,"28,027Km",D,2016,Mercedes-Benz,C300,Automatic,Petrol
3015,"₦ 2,974,400",,"163,978Km",B,2011,Toyota,Camry,Automatic,Petrol
3016,"₦ 4,202,500",Foreign Used,"103,147Km",C,2009,Toyota,Venza,Automatic,Petrol
3017,"₦ 2,140,000",,"148,118Km",C,2007,Lexus,ES,Automatic,Petrol
3018,"₦ 1,890,000",,"29,654Km",C,2006,Mercedes-Benz,Ml350,Automatic,Petrol