In [143]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
import csv
import json
import time

In [144]:
cars_information = []

In [145]:
for x in range(1,32):
    url= ('https://buy.cars45.com/cars?filter=125%2C1020&limit=100&page=')
    r = requests.get(url+str(x))
    soup_auto = BeautifulSoup(r.content, 'html.parser')
    content = soup_auto.find_all('div',class_="product_box")

    for property in content:
        Name = property.find('h4').text.strip()
        History = property.find('p', class_='d-none d-sm-block').text.strip()
        Price = property.find('h5').text.strip()
        Ratings = property.find('a').text.strip()
        Millage = property.find('span', class_='intersemibold').text.strip()
        Year = property.find_all('span', class_='intersemibold')[1].text.strip()

        car_info = {
            'Name': Name,
            'Price':Price,
            'History':History,
            'Millage':Millage,
            '  Ratings': Ratings,
            'Year':Year
    }
        cars_information.append(car_info)

In [146]:
car_df=pd.DataFrame(cars_information)

In [147]:
print(len(car_df))

3019

In [148]:
car_df

,Name,Price,History,Millage,Ratings,Year
0,2012 Toyota Camry\n ...,"₦ 2,720,000",Nigerian Used,"118,746Km",,2012
1,2006 Land Rover Lr3\n ...,"₦ 1,820,000",Nigerian Used,"164,373Km",D,2006
2,2017 Toyota Highlander\n ...,"₦ 16,670,000",Foreign Used,"43,589Km",C,2017
3,2018 Kia Rio\n ...,"₦ 3,957,500",Nigerian Used,"45,846Km",C,2018
4,2009 Toyota Corolla\n ...,"₦ 2,607,500",Nigerian Used,"345,675Km",C,2009
...,...,...,...,...,...,...
3014,2016 Mercedes-Benz C300\n ...,"₦ 9,893,906",Nigerian Used,"28,027Km",D,2016
3015,2011 Toyota Camry\n ...,"₦ 2,974,400",,"163,978Km",B,2011
3016,2009 Toyota Venza\n ...,"₦ 4,202,500",Foreign Used,"103,147Km",C,2009
3017,2007 Lexus ES\n ...,"₦ 2,140,000",,"148,118Km",C,2007
3018,2006 Mercedes-Benz Ml350 \n ...,"₦ 1,890,000",,"29,654Km",C,2006

In [150]:
car_df[['Year2','Make','Model']]=pd.DataFrame(car_df.Name.str.split(' ',expand=False,n=2).tolist(),
columns = ['Year2','Make','Model'])
car_df[['Model','Others']]=pd.DataFrame(car_df.Model.str.split('\n',expand=False,n=1).tolist(),columns = ['Model','Others'])

In [152]:
car_df.drop(['Name','Year2','Others'],axis=1,inplace=True)

In [153]:
car_df

,Price,History,Millage,Ratings,Year,Make,Model
0,"₦ 2,720,000",Nigerian Used,"118,746Km",,2012,Toyota,Camry
1,"₦ 1,820,000",Nigerian Used,"164,373Km",D,2006,Land,Rover Lr3
2,"₦ 16,670,000",Foreign Used,"43,589Km",C,2017,Toyota,Highlander
3,"₦ 3,957,500",Nigerian Used,"45,846Km",C,2018,Kia,Rio
4,"₦ 2,607,500",Nigerian Used,"345,675Km",C,2009,Toyota,Corolla
...,...,...,...,...,...,...,...
3014,"₦ 9,893,906",Nigerian Used,"28,027Km",D,2016,Mercedes-Benz,C300
3015,"₦ 2,974,400",,"163,978Km",B,2011,Toyota,Camry
3016,"₦ 4,202,500",Foreign Used,"103,147Km",C,2009,Toyota,Venza
3017,"₦ 2,140,000",,"148,118Km",C,2007,Lexus,ES
3018,"₦ 1,890,000",,"29,654Km",C,2006,Mercedes-Benz,Ml350

In [154]:
car_df['Transmission'] ='Automatic'
car_df['Fuel'] ='Petrol'

In [155]:
car_df

,Price,History,Millage,Ratings,Year,Make,Model,Transmission,Fuel
0,"₦ 2,720,000",Nigerian Used,"118,746Km",,2012,Toyota,Camry,Automatic,Petrol
1,"₦ 1,820,000",Nigerian Used,"164,373Km",D,2006,Land,Rover Lr3,Automatic,Petrol
2,"₦ 16,670,000",Foreign Used,"43,589Km",C,2017,Toyota,Highlander,Automatic,Petrol
3,"₦ 3,957,500",Nigerian Used,"45,846Km",C,2018,Kia,Rio,Automatic,Petrol
4,"₦ 2,607,500",Nigerian Used,"345,675Km",C,2009,Toyota,Corolla,Automatic,Petrol
...,...,...,...,...,...,...,...,...,...
3014,"₦ 9,893,906",Nigerian Used,"28,027Km",D,2016,Mercedes-Benz,C300,Automatic,Petrol
3015,"₦ 2,974,400",,"163,978Km",B,2011,Toyota,Camry,Automatic,Petrol
3016,"₦ 4,202,500",Foreign Used,"103,147Km",C,2009,Toyota,Venza,Automatic,Petrol
3017,"₦ 2,140,000",,"148,118Km",C,2007,Lexus,ES,Automatic,Petrol
3018,"₦ 1,890,000",,"29,654Km",C,2006,Mercedes-Benz,Ml350,Automatic,Petrol